@{
    ViewBag.Title = "Home Page";
}


<style type="text/css">
    #transparent{
      background:rgba(255,255,255,0.7);
      border-radius:25px;
    }
    body {
        background-image: url('../../Content/images/backgroundWeb.png');
        background-repeat: no-repeat;
        background-size: 2000px 1500px;
    }
</style>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<html ng-app>
<body>
    @*<div class="jumbotron">
            <h1>AGECAR</h1>
        </div>*@
    <div id="transparent" class="panel panel-default col-lg-offset-1" style="margin-top:50px; max-width:900px;">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <a href="~/diplomado">
                        <img src="~/Content/images/diplomados.png" style="width:150px;height:150px;" />
                    </a>
                    <h3 style="font-weight:bolder;">Diplomados</h3>
                </div>

                <div class="col-md-3">
                    <a href="~/Facilitador">
                        <img src="~/Content/images/facilitadores.png" style="width:150px;height:150px;" />
                    </a>
                    <h3 style="font-weight:bolder;">Facilitadores</h3>
                </div>

                <div class="col-md-3 " >
                    <a href="~/Chofer">
                        <img src="~/Content/images/choferes.png" style="width:150px;height:150px;" />
                    </a>
                    <h3 style="font-weight:bolder;">Choferes</h3>
                </div>

               
              
            </div>

            <div class="row" style="margin-top:30px;">

                <div class="col-md-3 col-md-offset-1">
                    <a href="~/Participante">
                        <i class="fa fa-users" style="font-size:8em; color:orange"></i>
                    </a>
                    <h3 style="font-weight:bolder;">Participantes</h3>
                </div>

                <div class="col-md-3 ">
                    <a href="~/Reporte">
                        <i class="fa fa-line-chart" style="font-size:8em; color:brown"></i>
                    </a>
                    <h3 style="font-weight:bolder;">Reportes</h3>
                </div>

            </div>


        </div>
    </div>
</body>
</html>